@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.sidebar-logo img {
  display: inline-block;
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 10px;
  color: #fff;
  font-weight: 400;
  font-size: 11px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}
